.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.horizontal_center {
    display: flex;
    justify-content: center;
}

.vertical_center {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center_content {
    height: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

span.small {font-size: smaller;}

/*Navbar (Template originalmente de https://www.w3schools.com/css/css_navbar.asp, mas completamente modificado)*/

ul.my_navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #292d32;
}
ul.my_navbar li a {
    display: block;
    background-color: #313539;
    color: white;
    transition: all 0.3s;
    text-decoration: none;
}
ul.my_navbar li a:hover:not(.active) {background-color: #111519;}

ul.horizontal.my_navbar li {
    float: left;
    height: 100%;
    margin-left: 5px;
}
ul.horizontal.my_navbar li a {
    text-align: center;
    height: 100%;
    padding: 0px 24px;
}
ul.horizontal.my_navbar li:first-child{margin-left: 5px;}

ul.vertical.my_navbar li {margin-top: 5px;}
ul.vertical.my_navbar li a {padding: 16px 0 16px 0;}
ul.vertical.my_navbar li:first-child {margin-top: 5px;}

/*Fim do navbar*/